{{define "head"}}
<title>Home</title>
{{$theme := resources.Get "css/timeline.css"}}
<link rel="stylesheet" href="{{$theme.Permalink}}">
{{end}}
{{define "body"}}
<div id="index_section_1">
  <h2 class="index-profession">Desarrollador Web</h2>
  <img src="{{.Site.Params.indexPCImage}}" alt="Daniel Alejandro Matute Matute Burgos">
  <div class="index-aboutme-text">
    <p>
      Mi nombre es Daniel Matute, soy de Tegucigalpa, Honduras. Estudié Ciencias de la Computación, pero he enfocado mi carrera profesional en el desarrollo web / desarrollo backend.
      Actualmente trabajo para una prestigiosa universidad de mi localidad donde desarrollo y mantengo aplicaciones web.
    </p>
    <p>
      Si tiene algo en mente y le gustaría que trabajemos juntos. Puede contactarme al correo <a href="mailto:elcorreoquequieres@correo.com">dmatuteb@outlook.com</a>.
    </p>
    <p>También proveo mi CV como pdf.</p>
    <p style="margin: 0;"><i class="fas fa-arrow-down"></i></p>
    <a style="display: inline-block; margin-top: 20px;" href="{{.Site.Params.cv}}" target="_blank" class="a-button">Ver CV</a>
  </div>
</div>
<div id="index_section_2">
  <h3 class="subtitle-wrapper"><i class="subtitle">Tecnologías</i></h3>
  <div class="index-technology-row" style="text-align: center;">
    <div class="index-technology-column">
      <h2>Lenguajes de programación</h2>
      <ul class="index-technologies">
        <li>Java</li>
        <li>Php</li>
      </ul>
    </div>
    <div class="index-technology-column">
      <h2>Frameworks y otros</h2>
      <ul class="index-technologies">
        <li>Spring</li>
        <li>Wordpress</li>
        <li>Genexus</li>
      </ul>
    </div>
    <div class="index-technology-column">
      <h2>Bases de datos</h2>
      <ul class="index-technologies">
        <li>MySQL</li>
        <li>MongoDB</li>
      </ul>
    </div>
  </div>
</div>
<div id="index_section_3">
  <h3 style="padding-left: 40px;"><i class="subtitle">Mi experiencia laboral</i></h3>
  <div class="timeline">
    <div class="container left">
      <div class="content">
        <h2>(2019 - presente) - Universidad Católica de Honduras</h2>
        <p><i>2+ años - Analista programador</i></p>
        <p class="content-description">
          Análisis, desarrollo, mantenimiento y documentación de herramientas internas con Genexus y MySQL. Departamento de CTIT.
        </p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2018 - América Economía CA</h2>
        <p><i>5 meses - Web máster</i></p>
        <p class="content-description">
          Mantenimiento del sitio web americaeconomia-ca.com con Wordpress y MySQL, edición de contenido multimedia y manejo de redes sociales, Facebook, Twitter, Linkedin e Instagram
        </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>2017 - Claro Honduras</h2>
        <p><i>4 meses - Practicante</i></p>
        <p class="content-description">
          Desarrollo de aplicación web para configuración de días con saldo promocional con Php, JavaEE y Oracle11g. Departamento de Claro IT.
        </p>
      </div>
    </div>
  </div>
</div>
{{end}}
